# Игнорировать директорию с сгенерированными файлами сайта
public/

# Игнорировать файл блокировки Hugo
.hugo_build.lock

# Игнорировать временные файлы редакторов и ОС
.DS_Store
Thumbs.db

# Игнорировать логи
*.log

# Игнорировать временные файлы
*.tmp
